@charset "UTF-8";
.side_bar_con {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  min-height: 500px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.menu > li {
  display: block;
  width: 180px;
}
.menu > li > a {
	font-weight: bolder;
  width: 180px;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  display: block;
}
.tag{
	border-bottom: 1px solid #e2e2e2;
}
.menu > li > a:hover {
  font-weight: bold;
}
.sub > li > a {
  width: 180px;
  height: auto;
  color: black;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: block;
}
.sub > li > a:hover {
  background-color: aliceblue;
}
.sub{
  display: none;
   flex-direction: column;
   justify-content: center;
}
