@charset "UTF-8";
.list_continer{
	display: flex;
	width: 100%;
}
.banner_list{
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
thead,tbody,tr{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
}
tbody>tr>td:nth-child(1),
thead>tr>th:nth-child(1){
	width: 5%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(2),
thead>tr>th:nth-child(2){ 
	width: 10%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(3),
thead>tr>th:nth-child(3){
	width: 15%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(4),
thead>tr>th:nth-child(4){
	width: 5%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(5),
thead>tr>th:nth-child(5){
	width: 20%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(6),
thead>tr>th:nth-child(6){
	width: 10%;
	border: 1px solid red;
}
tbody>tr>td:nth-child(7),
thead>tr>th:nth-child(7){
	width: 35%;
	border: 1px solid red;
}

h1{
	border: 1px solid red;
}