<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>메뉴</title>
    
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/reset1.css">
    <link rel="stylesheet" href="/css/reset2.css">
</head>

<body>
        <aside class="side_bar_con" th:fragment="aside">
            <ul class="menu">
                <li><a href="#" class="tag">메인관리</a>
                    <ul class="sub">
                        <li><a href="#">배너 관리</li>
                        <li><a href="#">구축사례 노출관리</li>
                        <li><a href="#">파트너 노출관리</li>
                        <li><a href="#">팝업관리</li>
                    </ul>
                </li>
                <li><a href="#" class="tag">컨텐츠 관리</a>
                    <ul class="sub">
                        <li><a href="#">구축사례</li>
                        <li><a href="#">파트너</li>
                        <li><a href="#">FAQ</li>
                        <li><a href="#">입사지원</li>
                    </ul>
                </li>
                <li><a href="#" class="tag">메인관리</a></li>

            </ul>
        </aside>

    </div>
    
</body>

</html>