<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>banner</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="/css/aside.css">
	<link rel="stylesheet" href="/css/reset1.css">
	<link rel="stylesheet" href="/css/reset2.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/bannerlist.css">
</head>
<body>
		<header th:replace="~{header :: header}"></header>
		<div class="list_continer">
		<aside th:replace="~{aside :: aside}"></aside>
		<table class="banner_list">
			<thead th:if="${!#lists.isEmpty(banner.list)}">
			<tr>
				<th scope="col">No.</th>
				<th scope="col">영역</th>
				<th scope="col">제목</th>
				<th scope="col">상태</th>
				<th scope="col">등록일</th>
				<th scope="col">관리자</th>
				<th scope="col">노출 기간</th>
			</tr>
			</thead>
			<tbody>
				<tr th:if="${!#lists.isEmpty(banner.list)}" th:each="item : ${banner.list}">
					<td th:text="${item.banner_sid} "></td>
					<td class="area">메인 배너</td>
					<td><a href="/banner/detail/${item.banner_sid}" th:text="${item.title}"></a></td>
					<td  th:text="${item.exposure_yn}"></td>
					<td th:text="${#temporals.format(item.created_date, 'yyyy-MM-dd')}"></td>
					<td th:text="${item.writer}"></td>
					<td th:text="|${item.start_date}~${item.end_date}|"></td>
				</tr>
			</tbody>
		</table>
		<tr  th:if="${#lists.isEmpty(banner.list)}">
					<h1>목록이 존재하지 않습니다!</h1>
				</tr>
		</div>
		
</body>
<script>
	/*메뉴바 기능*/
	$(function () {
		$(".menu>li").mouseover(function () {
			$(this).find(".sub").stop().slideDown(1000);
		});
		$(".menu>li").mouseleave(function () {
			$(this).find(".sub").stop().slideUp(1000);
		});
	});</script>
</html>