<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/reset1.css">
	<link rel="stylesheet" href="/css/reset2.css">
</head>
<body>
<header class="header" th:fragment="header">
	<input type="hidden" th:value="${session.member_sid}">
	<div class="login_box" th:if="${session.member_sid != null}">
                <span>통합관리자님, 환영합니다.</span><br><!--회원 명 명시부분에 회원데이터 받아와서 그 회원이름 뜨게하기-->
                <a href="#" class="logout_btn">로그아웃</a>
                <a href="#" class="my_info">내 정보</a>
                </div>
		<img th:src="@{/img/제목 추가 (1).png}">
		
	</header>
</body>
</html>