<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>join</title>
	<link rel="stylesheet" href="/css/reset1.css">
	<link rel="stylesheet" href="/css/reset2.css">
	<link rel="stylesheet" href="/css/join.css">
	<link rel="stylesheet" href="/css/header.css">
</head>

<body>
	<header th:replace="~{header :: header}"></header>
	<div class="container">
		<div class="join_con">
			<div class="join_box">
				<span>계정 만들기</span>
				<form class="join_form" action="/member" method="post">
					이메일 주소<input type="text" name="email" class="email">
					계정 이름<input type="text" name="nick_name" id="nick_name"><br>
					비밀번호(0~12자 이내)<input type="password" name="password" id="password">
					비밀번호 확인<input type="password" name="password_chk" id="password2">
					<input type="submit" value="완료">
				</form>
			</div>
		</div>
	</div>
	
	<script>
	
			
	</script>
</body>

</html>