<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.banner">
<!-- 게시글 저장 -->
<insert id ="save" parameterType="ReqBannerInsert"	useGeneratedKeys="true" keyColumn="banner_sid" keyProperty="banner_sid">
	INSERT		INTO		tb_banner(
		title,
		main_content,
		sub_content,
		exposure_yn,
		delete_yn,
		created_date,
		modified_date
	) VALUES (
		#{title},
		#{main_content},
		#{sub_content},
		'Y',
		'N',
		now(),
		now()
	)
</insert>
<!-- 배너관리 목록보기 -->
<select id="bannerList"  resultType="ResBannerList">
	SELECT banner_sid,title,main_content,sub_content,start_date,end_date,exposure_yn,delete_yn,created_yn
	FROM	tb_banner
	WHERE
				delete_yn = 'N'
</select>



</mapper>